window {
margin: 0px;
border: 2px solid #7c6f64;
border-radius: 35px;
background-color: #32302F;
font-family: Fira;
font-size: 16px;
}

#input {
margin: 15px;
border: 1px solid #fe8019;
border-radius: 25px;
color: #ebdbb2;
background-color: #504945;
}

#input image {
	color: #bdae93;
}

#inner-box {
margin: 5px;
margin-bottom: 35px;
border: none;
padding-left: 10px;
padding-right: 10px;
/* padding-bottom: 10px; */
border-radius: 25px;
background-color: #32302F;
}

#outer-box {
margin: 5px;
padding-bottom: 10px;
border: none;
background-color: #32302F;
border-radius: 25px;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #EBDBB2;
}

#entry:selected {
	background-color: #504945;
	font-weight: normal;
	border-radius: 25px;
	/* border: 1px solid #fe8019; */
}

#text:selected {
	background-color: #504945;
	color: #EBDBB2;
	/* color: #d65d0e; */
	border-radius: 25px;
	font-weight: normal;
}
