/* BAR */

.BAR {background-color: #282a36;}

/* Clock */

.hour, .mins {
   padding-right: 2px;
   padding-left: 2px;
   padding-top: 12px;
   padding-bottom: 12px;
   font-size: 26px;
}

.mins {
   font-size: 22px;
   background-color: #bd93f9;
   margin: 5px;
   border-radius: 8px;
}

/* Workspaces */

.sep {
   letter-spacing: -1px;
   color: #44475a;
}

.output * {
   margin-left: 2px;
   margin-right: 2px;
}

/* Progress bars */

.bars * {margin: 1px;}

.CPU progress {background-color: #8be9fd;}
.RAM progress {background-color: #ff79c6;}
.GPU progress {background-color: #50fa7b;}
.GPT progress {background-color: #ffb86c;}

/* Tray */

.tray * {
   all: unset;
   padding: 2px;
   margin: 8px;
   border: 1px solid transparent;
   border-radius: 8px;
}

.settings:hover {border-color: #f8f8f2;}
.shut:hover {border-color: #ff5555;}
.rest:hover {border-color: #ffb86c;}
.sleep:hover {border-color: #50fa7b;}

/* Popups */

.popup {
   border: 2px solid;
   border-radius: 6px;
}

.popup button {
   all: unset;
   margin: 5px;
   padding: 5px;
   border: 2px solid transparent;
   border-radius: 6px;
}

.ppshut, .shut button:hover {border-color: #ff5555;}
.pprest, .rest button:hover {border-color: #ffb86c;}

/* Resizer & capser */

.resizer {background-color: #ff5555;}
.capser {background-color: #ff79c6;}
