/* Created   by https://github.com/rxyhn
   Designed  by https://github.com/rxyhn
   Maintaned by https://github.com/rxyhn
*/

// Global
*{
  all: unset;
}

// Variable Color's
$background: #32302F;
$foreground: #EBDBB2;

$black: #282828;
$gray: #928374;
$red: #FB4934;
$green: #B8BB26;
$yellow: #FABD2F;
$blue: #83A598;
$magenta: #D3869B;
$cyan: #8EC07C;
$orange: #fe8019;
$white: $foreground;

// EWW BAR
.eww_bar{
  background-color: $background;
  padding: .2rem;
  border-radius: 20px;
}

// Launcher
.launcher_icon{
    color: $cyan;
    font-family: FiraCode Nerd Font Mono;
    font-size: 2em;
    padding: 0.5rem 0 0.5rem 0;
}

// Workspaces
.works {
font-family: FiraCode Nerd Font Mono;
padding: .2rem .7rem .2rem .7rem;
background-color: $black;
border-radius: 5px;
}

// Control Panel
.control {
padding: .3rem;
font-family: Material Icons;
font-size: 1.6em;
background-color: $black;
border-radius: 12px;
}
.bat{
  font-family: FiraCode Nerd Font Mono;
  margin-bottom: .2rem;
  color: $green;
}
.wifi-icon{
  // margin-bottom: .2rem;
  margin: .2rem 0 .2rem 0;
  color: $blue;
}
.bluetooth-icon{
  // margin-bottom: .2rem;
  margin: .2rem 0 .2rem 0;
  color: $cyan;
}

.brightness-icon{
  margin: .2rem 0 .2rem 0;
  color: $yellow;
}
.volume-icon{
  margin: .2rem 0 .2rem 0;
  color: $magenta;
}
.notif-icon{
  margin: .2rem 0 .2rem 0;
  color: $orange;
}
scale trough {
  all: unset;
  background-color: $background;
  border-radius: 5px;
  min-height: 80px;
  min-width: 10px;
  margin: .3rem 0 .3rem 0;
}
.bribar trough highlight {
  background-color: $yellow;
  border-radius: 5px;
}
.volbar trough highlight {
  background-color: $magenta;
  border-radius: 5px;
}

// Clock
.time {
  font-family: FiraCode Nerd Font Mono;
  font-weight: bold;
  font-size: 1.2em;
  background-color: $black;
  color: $white;
  border-radius: 12px;
  padding: .5rem 0 .5rem 0;
  margin: .3rem 0 .3rem 0;
}

// Calendar
.cal-box {
  background-color: $black;
  font-family: FiraCode Nerd Font Mono;
  font-size: 1em;
  font-weight: bold;
  color: $white;
  border-radius: 12px;

  .cal-inner-box {
      padding: 1rem 1rem .2rem;

      .cal {
          &.highlight {
              padding: 10rem;
          }

          padding: .8rem .25rem 0rem;
          margin-left: 10px;
      }
  }
}

calendar:selected {
  color: $cyan;
}

calendar.header {
color: $yellow;
font-weight: bold;
}

calendar.button {
color: $blue;
}

calendar.highlight {
color: $cyan;
font-weight: bold;
}

calendar:indeterminate {
color: $background;
}

// Powermenu
.powermenu {
  font-family: FiraCode Nerd Font Mono;
  font-size: 2em;
  font-weight: bold;
}
.button-bspres, .button-reb, .button-lock,
.button-quit, .button-off{
  padding: .5rem .2rem .3rem .2rem;
}
.button-off{
  margin-bottom: .5rem;
  color: $red;
}
.button-bspres{
  color: $green;
}
.button-reb{
  color: $yellow
}
.button-quit{
  color: $magenta;
}
.button-lock{
  color: $blue;
}
